Backup/Web References/Student/StudentWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.campusmgmt.com/Soa/Foundation/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://www.campusmgmt.com/Soa/Foundation/MessageDefinition.xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.campusmgmt.com/Soa/Foundation/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.campusmgmt.com/Soa/Foundation/">
      <s:import namespace="http://www.campusmgmt.com/Soa/Foundation/MessageDefinition.xsd" />
      <s:element name="UpdateStudentInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:UpdateStudentInfoRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStudentInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:UpdateStudentInfoResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestHeader" type="tns:RequestHeader" />
      <s:complexType name="RequestHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Headers" type="tns:ArrayOfAnyType" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="ResponseHeader" type="tns:ResponseHeader" />
      <s:complexType name="ResponseHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Headers" type="tns:ArrayOfAnyType" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="GetStudentInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:GetStudentInfoRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStudentInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:GetStudentInfoResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostStudentLead">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:PostStudentLeadRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostStudentLeadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:PostStudentLeadResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostStudentInquiry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:PostStudentInquiryRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostStudentInquiryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:PostStudentInquiryResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.campusmgmt.com/Soa/Foundation/MessageDefinition.xsd">
      <s:element name="UpdateStudentInfoRequest" type="s1:UpdateStudentInfoRequest" />
      <s:complexType name="UpdateStudentInfoRequest">
        <s:complexContent mixed="false">
          <s:extension base="s1:GenericRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Students" type="s1:ArrayOfUpdateStudentInMsg" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="GenericRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TokenId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUpdateStudentInMsg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UpdateStudentInMsg" nillable="true" type="s1:UpdateStudentInMsg" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UpdateStudentInMsg">
        <s:complexContent mixed="false">
          <s:extension base="s1:StudentMsg">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="MessageState" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="StudentMsg">
        <s:complexContent mixed="false">
          <s:extension base="s1:GenericMsg">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="StudentId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="SSN" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" default="-1.0" name="PIN" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="StudentNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" default="-1" name="GenderId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" default="NotSpecified" name="IsHispanic" type="s1:SimpleOption" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="RaceIds" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CampusId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" default="-1" name="LeadTypeId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="LeadSourceIds" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" default="-1" name="AdmissionsOfficerId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" default="1900-01-01T00:00:00" name="NewAdmissionsOfficerEffectiveDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" default="-1" name="StateId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="BadAddress" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" default="-1" name="CountryId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" default="-1" name="CountyId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="WorkPhone" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MobileNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="WorkPhoneExtension" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="BadPhone" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="ProgramIds" type="s:int" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="EnrolledProgramIds" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" default="-1" name="AreaOfInterestId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" default="-1" name="AgencyId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" default="1900-01-01T00:00:00" name="LeadDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="AlienRegistrationNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BestTimeToContact" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" default="1900-01-01T00:00:00" name="BirthDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" default="-1" name="CitizenshipId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="NonImmigrantStudent" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" default="-1" name="CollegeId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" default="-1" name="CurrentEmployerId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" default="NotSpecified" name="HasDisability" type="s1:SimpleOption" />
              <s:element minOccurs="0" maxOccurs="1" default="NotSpecified" name="IsVeteran" type="s1:SimpleOption" />
              <s:element minOccurs="0" maxOccurs="1" name="DriversLicenseNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" default="-1" name="DriversLicenseStateId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" default="-1" name="EmploymentStatusId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" default="1900-01-01T00:00:00" name="StartDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="ExtraCurricularIds" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="OtherEmail" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NickName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="OtherPhone" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" default="-1" name="PreviousEducationId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" default="-1" name="HighSchoolId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" default="1900-01-01T00:00:00" name="HighSchoolDateEnrolled" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="HighSchoolGraduate" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" default="1900-01-01T00:00:00" name="HighSchoolGradDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="HighSchoolGraduationSession" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="HighSchoolGraduationYear" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" default="1900-01-01T00:00:00" name="HighSchoolLastDateAttended" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="HighSchoolSize" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="HighSchoolStudentLevel" type="s:unsignedByte" />
              <s:element minOccurs="1" maxOccurs="1" name="HighSchoolStudentRank" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="HighSchoolTranscriptType" type="s:unsignedByte" />
              <s:element minOccurs="0" maxOccurs="1" name="MaidenName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" default="-1" name="MaritalStatusId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" default="-1" name="NationalityId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" default="-1" name="TitleId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" default="-1" name="SuffixId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" default="-1" name="ShiftId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="DataBlockIndicator" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="StoreOldAddress" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" default="-1" name="OldAddressTypeId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CrmSuppressFlag" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="HSAcademicGPA" nillable="true" type="s:decimal" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="GenericMsg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" default="-1" name="MessageId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomAttributes" type="s1:ArrayOfCustomAttributeMsg" />
          <s:element minOccurs="0" maxOccurs="1" default="-1" name="CorrelationId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="SkipSemanticValidation" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCustomAttributeMsg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CustomAttributeMsg" nillable="true" type="s1:CustomAttributeMsg" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomAttributeMsg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GenericOutMsg">
        <s:complexContent mixed="false">
          <s:extension base="s1:GenericMsg">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="MessageResult" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" default="OK" name="MessageStatus" type="s1:MessageStatusType" />
              <s:element minOccurs="0" maxOccurs="1" name="MessageErrorCode" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="MessageStatusType">
        <s:restriction base="s:string">
          <s:enumeration value="OK" />
          <s:enumeration value="FailedValidation" />
          <s:enumeration value="FailedExecution" />
          <s:enumeration value="FailedAuthorization" />
          <s:enumeration value="FailedOther" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="UpdateStudentOutMsg">
        <s:complexContent mixed="false">
          <s:extension base="s1:GenericOutMsg">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="StudentId" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="SimpleOption">
        <s:restriction base="s:string">
          <s:enumeration value="NotSpecified" />
          <s:enumeration value="Yes" />
          <s:enumeration value="No" />
        </s:restriction>
      </s:simpleType>
      <s:element name="UpdateStudentInfoResponse" type="s1:UpdateStudentInfoResponse" />
      <s:complexType name="UpdateStudentInfoResponse">
        <s:complexContent mixed="false">
          <s:extension base="s1:GenericResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Students" type="s1:ArrayOfUpdateStudentOutMsg" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="GenericResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s1:TrxStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="TrxResult" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TokenId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TrxStatus">
        <s:restriction base="s:string">
          <s:enumeration value="OK" />
          <s:enumeration value="ErrorSQL" />
          <s:enumeration value="ErrorBusinessLogic" />
          <s:enumeration value="ErrorWebService" />
          <s:enumeration value="ErrorArguments" />
          <s:enumeration value="ErrorSecurity" />
          <s:enumeration value="ErrorSystem" />
          <s:enumeration value="ErrorMultiple" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfUpdateStudentOutMsg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UpdateStudentOutMsg" nillable="true" type="s1:UpdateStudentOutMsg" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetStudentInfoRequest" type="s1:GetStudentInfoRequest" />
      <s:complexType name="GetStudentInfoRequest">
        <s:complexContent mixed="false">
          <s:extension base="s1:GenericRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Students" type="s1:ArrayOfGetStudentInMsg" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfGetStudentInMsg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GetStudentInMsg" nillable="true" type="s1:GetStudentInMsg" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GetStudentInMsg">
        <s:complexContent mixed="false">
          <s:extension base="s1:GenericInMsg">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="StudentId" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="GenericInMsg">
        <s:complexContent mixed="false">
          <s:extension base="s1:GenericMsg">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="MessageState" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="LeadSourceMsg">
        <s:complexContent mixed="false">
          <s:extension base="s1:GenericInMsg">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" default="-1" name="LeadSourceId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="LeadVendorIds" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" default="false" name="IsPrimarySource" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfGetStudentOutMsg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GetStudentOutMsg" nillable="true" type="s1:GetStudentOutMsg" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GetStudentOutMsg">
        <s:complexContent mixed="false">
          <s:extension base="s1:StudentMsg">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="SchoolStatusId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="LeadSources" type="s1:LeadSourceMsg" />
              <s:element minOccurs="0" maxOccurs="1" name="MessageResult" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" default="OK" name="MessageStatus" type="s1:MessageStatusType" />
              <s:element minOccurs="0" maxOccurs="1" name="MessageErrorCode" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetStudentInfoResponse" type="s1:GetStudentInfoResponse" />
      <s:complexType name="GetStudentInfoResponse">
        <s:complexContent mixed="false">
          <s:extension base="s1:GenericResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Students" type="s1:ArrayOfGetStudentOutMsg" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="PostStudentLeadRequest" type="s1:PostStudentLeadRequest" />
      <s:complexType name="PostStudentLeadRequest">
        <s:complexContent mixed="false">
          <s:extension base="s1:GenericRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="UpdateStudentLeads" type="s1:ArrayOfUpdateStudentLeadInMsg" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfUpdateStudentLeadInMsg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UpdateStudentLeadInMsg" nillable="true" type="s1:UpdateStudentLeadInMsg" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UpdateStudentLeadInMsg">
        <s:complexContent mixed="false">
          <s:extension base="s1:PostStudentLeadInMsg">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="UpdateFields" type="s1:UpdateField" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="ProgramIds" type="s:int" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="ExtraCurricularIds" type="s:int" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="LeadSources" type="s1:LeadSourceMsg" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="RaceIds" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="PostStudentLeadInMsg">
        <s:complexContent mixed="false">
          <s:extension base="s1:GenericInMsg">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="StudentId" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="UpdateField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FieldName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FieldValue" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUpdateStudentLeadOutMsg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UpdateStudentLeadOutMsg" nillable="true" type="s1:UpdateStudentLeadOutMsg" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UpdateStudentLeadOutMsg">
        <s:complexContent mixed="false">
          <s:extension base="s1:PostStudentLeadOutMsg" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="PostStudentLeadOutMsg">
        <s:complexContent mixed="false">
          <s:extension base="s1:GenericOutMsg" />
        </s:complexContent>
      </s:complexType>
      <s:element name="PostStudentLeadResponse" type="s1:PostStudentLeadResponse" />
      <s:complexType name="PostStudentLeadResponse">
        <s:complexContent mixed="false">
          <s:extension base="s1:GenericResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="UpdateStudentLeads" type="s1:ArrayOfUpdateStudentLeadOutMsg" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="PostStudentInquiryRequest" type="s1:PostStudentInquiryRequest" />
      <s:complexType name="PostStudentInquiryRequest">
        <s:complexContent mixed="false">
          <s:extension base="s1:GenericRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="PostStudentInquirys" type="s1:ArrayOfPostStudentInquiryInMsg" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfPostStudentInquiryInMsg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PostStudentInquiryInMsg" nillable="true" type="s1:PostStudentInquiryInMsg" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PostStudentInquiryInMsg">
        <s:complexContent mixed="false">
          <s:extension base="s1:GenericInMsg">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="StudentId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CampusId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" default="1900-01-01T00:00:00" name="LeadDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Current" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" default="-1" name="LeadTypeId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="LeadSourceInfo" type="s1:LeadSourceInfo" />
              <s:element minOccurs="0" maxOccurs="1" default="-1" name="OrigRepId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" default="-1" name="RepId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="ProgramIds" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" default="-1" name="ProgramGroupId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="ResponsePhone" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" default="1900-01-01T00:00:00" name="ResponseTime" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" default="1900-01-01T00:00:00" name="ResponseDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="LeadSourceInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" default="-1" name="LeadSourceId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="LeadVendorId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPostStudentInquiryOutMsg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PostStudentInquiryOutMsg" nillable="true" type="s1:PostStudentInquiryOutMsg" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PostStudentInquiryOutMsg">
        <s:complexContent mixed="false">
          <s:extension base="s1:GenericOutMsg">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="StudentInquiryId" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="PostStudentInquiryResponse" type="s1:PostStudentInquiryResponse" />
      <s:complexType name="PostStudentInquiryResponse">
        <s:complexContent mixed="false">
          <s:extension base="s1:GenericResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="PostStudentInquirys" type="s1:ArrayOfPostStudentInquiryOutMsg" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateStudentInfoSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateStudentInfo" />
  </wsdl:message>
  <wsdl:message name="UpdateStudentInfoSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateStudentInfoResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateStudentInfoRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateStudentInfoResponseHeader">
    <wsdl:part name="ResponseHeader" element="tns:ResponseHeader" />
  </wsdl:message>
  <wsdl:message name="GetStudentInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetStudentInfo" />
  </wsdl:message>
  <wsdl:message name="GetStudentInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetStudentInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetStudentInfoRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="GetStudentInfoResponseHeader">
    <wsdl:part name="ResponseHeader" element="tns:ResponseHeader" />
  </wsdl:message>
  <wsdl:message name="PostStudentLeadSoapIn">
    <wsdl:part name="parameters" element="tns:PostStudentLead" />
  </wsdl:message>
  <wsdl:message name="PostStudentLeadSoapOut">
    <wsdl:part name="parameters" element="tns:PostStudentLeadResponse" />
  </wsdl:message>
  <wsdl:message name="PostStudentLeadRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="PostStudentLeadResponseHeader">
    <wsdl:part name="ResponseHeader" element="tns:ResponseHeader" />
  </wsdl:message>
  <wsdl:message name="PostStudentInquirySoapIn">
    <wsdl:part name="parameters" element="tns:PostStudentInquiry" />
  </wsdl:message>
  <wsdl:message name="PostStudentInquirySoapOut">
    <wsdl:part name="parameters" element="tns:PostStudentInquiryResponse" />
  </wsdl:message>
  <wsdl:message name="PostStudentInquiryRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="PostStudentInquiryResponseHeader">
    <wsdl:part name="ResponseHeader" element="tns:ResponseHeader" />
  </wsdl:message>
  <wsdl:portType name="StudentWebServiceSoap">
    <wsdl:operation name="UpdateStudentInfo">
      <wsdl:input message="tns:UpdateStudentInfoSoapIn" />
      <wsdl:output message="tns:UpdateStudentInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentInfo">
      <wsdl:input message="tns:GetStudentInfoSoapIn" />
      <wsdl:output message="tns:GetStudentInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostStudentLead">
      <wsdl:input message="tns:PostStudentLeadSoapIn" />
      <wsdl:output message="tns:PostStudentLeadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostStudentInquiry">
      <wsdl:input message="tns:PostStudentInquirySoapIn" />
      <wsdl:output message="tns:PostStudentInquirySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StudentWebServiceSoap" type="tns:StudentWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateStudentInfo">
      <soap:operation soapAction="http://www.campusmgmt.com/Soa/Foundation/UpdateStudentInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateStudentInfoRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateStudentInfoResponseHeader" part="ResponseHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentInfo">
      <soap:operation soapAction="http://www.campusmgmt.com/Soa/Foundation/GetStudentInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetStudentInfoRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:GetStudentInfoResponseHeader" part="ResponseHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostStudentLead">
      <soap:operation soapAction="http://www.campusmgmt.com/Soa/Foundation/PostStudentLead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:PostStudentLeadRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:PostStudentLeadResponseHeader" part="ResponseHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostStudentInquiry">
      <soap:operation soapAction="http://www.campusmgmt.com/Soa/Foundation/PostStudentInquiry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:PostStudentInquiryRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:PostStudentInquiryResponseHeader" part="ResponseHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StudentWebServiceSoap12" type="tns:StudentWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateStudentInfo">
      <soap12:operation soapAction="http://www.campusmgmt.com/Soa/Foundation/UpdateStudentInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateStudentInfoRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateStudentInfoResponseHeader" part="ResponseHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentInfo">
      <soap12:operation soapAction="http://www.campusmgmt.com/Soa/Foundation/GetStudentInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetStudentInfoRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetStudentInfoResponseHeader" part="ResponseHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostStudentLead">
      <soap12:operation soapAction="http://www.campusmgmt.com/Soa/Foundation/PostStudentLead" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:PostStudentLeadRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:PostStudentLeadResponseHeader" part="ResponseHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostStudentInquiry">
      <soap12:operation soapAction="http://www.campusmgmt.com/Soa/Foundation/PostStudentInquiry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:PostStudentInquiryRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:PostStudentInquiryResponseHeader" part="ResponseHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentWebService">
    <wsdl:port name="StudentWebServiceSoap" binding="tns:StudentWebServiceSoap">
      <soap:address location="http://kirkcmapi3:8088/cmc.campuslink.webservices/StudentWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="StudentWebServiceSoap12" binding="tns:StudentWebServiceSoap12">
      <soap12:address location="http://kirkcmapi3:8088/cmc.campuslink.webservices/StudentWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>